header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3cfd9;
}

header h1 {
  text-transform: uppercase;
  color: #e8833a;
  font-size: 34px;
  line-height: 40px;
}
